<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
</head>
<body>
	<h1>Welcome to the Library Database</h1>
	<hr>
	<table>
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Reviews</th>
		</tr>
		<tr th:each="book: ${books}">
			<td th:text="${book.title}"></td>
			<td th:text="${book.author}"></td>
			<td><a th:href="@{/view-book/{id}(id=${book.id})}">View</a></td>
		</tr>
	</table>
	<br>
	<div sec:authorize="isAuthenticated()">
		<a th:href="@{/add-book}">Add Book</a>
		<br>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Logout" />
		</form>
	</div>
	<div sec:authorize="!isAuthenticated">
		<p>Login <a th:href="@{/login}">here.</a>
	</div>
</body>
</html>